/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-align: center;
}

/* :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
} */

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffd1bd;
}

/* changes background colour depending on answer */
body.correct {
  background-color: green;
}

body.wrong {
  background-color: red;
}

/* question container */
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 20;
  box-shadow: 0 0 20px 2px;
}

/* buttons */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  /* --hue: var(--hue-neutral); */
  border: 1px solid 100%, 30%;
  background-color: #c2f0fc;
  border-radius: 50px;
  padding: 50px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  background-color: green;
}

.btn.wrong {
  background-color: red;
}

.next-btn,
.start-btn{
  font-size: 45px;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


